<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some cool title!</title>
    <link rel="stylesheet" href="http://cdn.scouthack/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section>
        <!--x block header x-->
        <div id="x1" class="container">
            <header>
                <a href="{{ url_for('home') }}">
                    <span>scouthack Patrol's Program Adventure</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="./programs.html" class="nav-link">Programs</a></li>
                </ul>
            </header>
        </div>
        <!--x endblock header x-->
    </section>

    <section>
        <!--x block content x-->
        <div id="x2" class="container">
            <!--x block content_intro x-->
            <div id="x3" class="row">
                <div id="x4" class="col-3">
                    <!-- Put your Patrol logo here! -->
                    <img src="{{ url_for('static', filename='bandicoot.jpg') }}" width="200px" height="200px">
                </div>
                <div id="x5" class="col-9">
                    <!-- Heading and Paragraphs -->
                </div>
            </div>
            <!--x endblock content_intro x-->
            <!--x block content_lists x-->
            <div id="x6" class="row py-5">
                <div id="x7" class="col-4">
                    <h3 class="heading">Our Patrol Members</h3>
                    <!-- Unordered list-->
                    <ul>
                        <li>Andy</li>
                        <li>Luke</li>
                        <li>mattcen</li>
                        <li>Gemma</li>
                    </ul>
                </div>
                <div id="x8" class="col-4">
                    <h3 class="heading2">Our Top Activities</h3>
                    <!-- Ordered list -->
                    <ol>
                        <li>Radio</li>
                        <li>Electronics</li>
                        <li>Coding - scouthack!</li>
                        <li>Science</li>
                    </ol>
                </div>
                <div id="x9" class="col-4">
                    <h3 class="heading3">Our Favourite Campsite</h3>
                    <!-- Paragraph -->
                    <p>Our Unit loves camping at Mafeking Rover Park near Yea, and at Cooinda Burrong in the Grampians!
                    </p>
                </div>
            </div>
            <!--x endblock content_lists x-->
            <!--x block content_events x-->
            <div id="x10" class="row">
                <div id="x11" class="col-9">
                    <h3>Upcoming events</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Event</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ScoutHike</td>
                                <td>19-21 May 2023</td>
                                <td>Tallarook State Forest</td>
                            </tr>
                            <tr>
                                <td>Melbourne Gangshow</td>
                                <td>16-24 June 2023</td>
                                <td>The Benson Centre, Melbourne</td>
                            </tr>
                            <tr>
                                <td>JOTA 2023</td>
                                <td>20-22 October 2023</td>
                                <td>On the Air!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="x12" class="col-3">
                    <h3 class="">New ideas</h3>
                    <a href="" target="_blank" class="btn btn-primary">Suggest an Activity</a>
                </div>
            </div>
            <!--x endblock content_events x-->
        </div>
        <!--x endblock content x-->
    </section>

    <section>
        <!--x block footer x-->
        <div id="x13">
            <footer>
                <p>&copy; 2023 Scouts Victoria, made at scouthack!</p>

                <a href="{{ url_for('home') }}"></a>

                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="./programs.html" class="nav-link">Programs</a></li>
                </ul>
            </footer>
        </div>
        <!--x endblock footer x-->
    </section>
</body>

</html>
